@import "~@/style/normalize.css";

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800&display=swap');

a:active, a:focus { outline: none; }
input:active, input:focus { outline: none; }
button:active, button:focus { outline: none; }

.site {
  font-family: 'Montserrat', sans-serif;
  .container {
    margin: 0 auto;
    position: relative;
    width: 1280px;
    &-mobile {
      width: 320px;
      box-sizing: border-box;
      display: flex;
      flex-direction: column;
      height: 100vh;
    }
    .nav {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 10px 10px;
      border-bottom: 1px solid rgb(236 239 241);
      &-menu {
        &__hamburger {
          cursor: pointer;
        }
      }
    }
    .content {
      padding: 0 15px;
      flex-grow: 1;
      .planeta-qr {
        padding-top: 25px;
        &__title {
          font-weight: 700;
        }
        &__market {
          padding-bottom: 45px;
          .vs__search {
            width: 100%;
            border: none;
            border-bottom: 2px solid rgb(0 0 0);
            padding: 5px 10px;
            cursor: pointer;
          }
          .vs__clear {
            display: none;
          }
          .v-select {
            position: relative;
            margin-top: 5px;
            ::placeholder {
              font-size: 12px;
            }
          }
          .vs__actions {
            position: absolute;
            right: 10px;
            top: 4px;
          }
          .vs__open-indicator {
            transition-duration: 0.3s;
          }
          .vs--open {
            border: 2px solid black;
            .vs__selected {
              opacity: 0;
            }
            .vs__open-indicator {
              transform: rotate(180deg);
            }
          }
          #vs1__listbox {
            list-style: none;
            padding-left: 10px;
            li {
              padding: 5px 0px;
              cursor: pointer;
              font-size: 12px;
            }
          }
          .vs__selected {
            position: absolute;
            left: 5px;
            top: 5px;
            font-size: 12px;
            width: 100%;
          }
          &-choose{
            font-size: 12px;
          }
        }
        &__scaner {
          width: 180px;
          height: 180px;
          margin: 0 auto;
          margin-top: 40px;
          &-click {
            display: flex;
            justify-content: center;
            text-align: center;
            margin-top: 25px;
            position: relative;
            p {
              position: absolute;
              z-index: 1;
              width: 65%;
              top: 115px;
              font-size: 12px;
              line-height: 1.4;
            }
            img {
              cursor: pointer;
            }
          }
          &-qrcode {
            position: relative;
          }
          .loading-indicator {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            right: -15px;
          }
          .qrcode-stream-wrapper {
            width: 180px;
            height: 180px;
            position: relative;
            z-index: 0;
          }
          .qrcode-stream-overlay {
            width: 100%;
            height: 100%;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            right: 0;
            margin-left: -13px;
            margin-top: -11px;
          }
          &-information {
            margin-top: 55px;
            &__form {
              margin-bottom: 10px;
              .planeta-input {
                width: 100%;
                border: none;
                border-bottom: 2px solid rgb(0 0 0);
                padding: 5px 0;
                &:first-child {
                  margin-top: 0px;
                }
                &__error {
                  color: rgb(255 0 0);
                  width: 100%;
                  display: flex;
                  font-size: 10px;
                  padding-top: 10px;
                }
              }
              .vdp-datepicker {
                &::after {
                  content: url(~@/assets/date_icon.png);
                  position: absolute;
                  right: 0;
                  top: 10px;
                  pointer-events: none;
                }
                &-label {
                  color: rgb(255 0 0);
                }
                input {
                  width: 100%;
                  border: none;
                  border-bottom: 2px solid rgb(0 0 0);
                  padding: 5px 0;
                  color: rgb(255 0 0);
                }
              }
              
              label {
                font-size: 12px;
                font-weight: 600;
              }
              input {
                margin-top: 10px;
                font-size: 12px;
              }
            }
          }

        }
        &__control {
          margin-top: 35px;
        }
        &__check {
          border: 1px solid rgb(0 0 0);
          border-style: dashed;
          .filepond--root.my-pond.filepond--hopper {
            height: 60px !important;
          }
        }
      }
    }
  }
  .btn {
    cursor: pointer;
    background-color: rgb(255 255 255);
    border: 2px solid #081F2C;
    text-transform: uppercase;
    font-size: 12px;
    width: 100%;
    padding: 15px 0;
    &-disable {
      border: 2px solid #C4C4C4;
      color: #C4C4C4;
      cursor: auto;
    }
  }
  .footer {
    background-color: #ECEFF1;
    padding: 15px 15px;
    &-title {
      font-size: 12px;
      font-weight: 600;
      padding: 15px 0 0 0;
    }
    &-contact {
      display: flex;
      font-size: 12px;
      justify-content: space-between;
      padding: 10px 0;
      a {
        color: black;
      }
    }
    &-information {
      display: flex;
      flex-direction: column;
      a {
        color: rgb(122 153 172);
        font-size: 12px;
        padding: 0 0 15px 0;
      }
    }
  }
}


